# temp folder
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
/.vscode

# misc
/connect.lock
/coverage/*
/jest
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/checkstyle-result.xml

# System Files
.DS_Store
Thumbs.db

# Not needed for release
/examples
/js/tests
/src/tests
/.editorconfig
/.prettierrc.json
/*.js
